<header>
  <section class="container edit_user_container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @cover_letter.text %>
</p>

<%= link_to 'Edit', edit_cover_letter_path(@cover_letter) %> |
<%= link_to 'Back', cover_letters_path %>
  <