// Place all the styles related to the cover_letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text_color: black;

.background{
  background-image: url('/assets/header.jpg');
  background-repeat: no-repeat;
  height: auto;
  background-attachment:fixed;
}
.cover_letter_container{
  width: 970px;
  height: auto;
  background-color: white;
}
.cover_letter{
  width: 800px;

  .title{
    text-align: center;
    color: $text_color;
  }

  .content{
    text-align: center;

  }

  .header{
    text-align: center;
    margin-top: 50px;
    line-height: 1.4;

    .name{
      color: $text_color;
    }

    .line{
      border-bottom: 3px solid black;
      padding-bottom: 10px;
    }
  }

  form{
    #cover_letter_text{
      width: 100% !important;
    }

    .date {
      text-align: left;
      margin-top: 30px;
      font-size: 15px;
    }

    .company_input{
      input{
        width: 200px;
        margin-top: 10px;
      }
      .address{
        text-align: left;
      }
    }
  }
}

