// Place all the styles related to the cover_letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text_color: black;

.background{
  background-image: url('/assets/header.jpg');
  background-repeat: no-repeat;
  height: auto;
  background-attachment:fixed;
}
.cover_letter_container{
  width: 970px;
  height: auto;
  background-color: white;
}
.cover_letter{
  width: 750px;
  min-height:800px;

  .title{
    text-align: center;
    color: $text_color;
  }

  .content{
    text-align: left;

    .company{
      font-size: 12pt;
      margin-top: 20px;
     span{
       line-height: 1.4;
     }
    }

    .text{
      margin-top: 30px;
    }
  }

  .header{
    text-align: center;
    margin-top: 50px;
    line-height: 1.4;

    .name{
      color: $text_color;
      font-size: 50px !important;
      font-weight: bold;
    }

    .line{
      border-bottom: 2px solid black;
      padding-bottom: 10px;
    }
  }

  form{
    #cover_letter_text{
      width: 100% !important;
    }

    #cke_cover_letter_text{
      margin-top:20px;
    }

    .company_input{
      input{
        width: 200px;
        margin-top: 10px;
      }
      .address{
        text-align: left;
      }
    }
  }

  .date {
    text-align: left;
    margin-top: 30px;
    font-size: 12pt;
  }
}

.buttons{
  width:100%;
  text-align: center;
  margin-top:30px;
}

@media print{
    .cover_letter_container{
      width: 210mm;
      height: 297mm !important;
      background-color: white;

    }
    .cover_letter{
      padding: 1cm;
      min-height:800px;

      .header{
        text-align: center;
        line-height: 1.4;
        margin:0px;
      }
    }
  }

