// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resume_container{
  max-width: none !important;
  min-width: 940px;
  min-height:800px;
}

.left{
  min-height:800px;
  height:auto;
  background-color: rgb(51,65,93);
  display:block;
}

.right{
  min-height:800px;
  height:auto;
  background-color: white;
  display:block;
}

.profile{

}

.pic_container > .pic{
  text-align: center;
  margin-top:20px;
}

.pic_container, .name_container{
  padding-left: 0px !important;
}
.resume{
  background-image: url('/assets/header.jpg');
}

.section_background{
  background-image: url('/assets/header.jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-attachment:fixed;
}

.edit_user > .field > label{
  color: #ffffff !important;
}
.section_container{
  width: 940px;
  margin: 0 auto;
  height: 100%;
}
.edit_user_form_container{
  width: 940px;
  margin: 0 auto;
  height: auto;
}
.edit_user_form_container h2, h3, p{
  color:white
}
.resume_container{
  width:970px;

}

.text_color{
  color: white;
}
.name{
  text-align: center
}

.name > span{
  font-size:40px;
  font-weight:300;
}

.homepage > span:first-child{
  font-weight:bold;
  font-size: 16px;
}

.profile .row{
  margin-top:10px;
  padding-left: 20px;
}

.name_container{
  padding-left:0 !important;
  margin-bottom:40px;
  margin-top:20px !important;
}

.skill{
  margin-top: 20px;
}
.skill > .title{
  padding-left:20px;
}
.skill > .title > span{
  font-weight: bold;
  font-size: 20px;
}

.skill > .line div{
  border: 1px solid white;
  margin-right:30px;
}

.skill > .line{
padding: 10px 0px;
}

.field {
  color:black;
}

//summary
.summary{
  margin-top: 30px;
  text-align:  center;
  width: 600px;
}
.summary > .title{
  text-align: center;
}
.summary > .title > span{
  font-size: 20px;
  font-weight: bold;
  color: #666666;
}
.summary > .line div{
  border-top: 1px solid #666666;
}

.summary > .line {
  padding: 10px 0px;
}

//work_history
.work_history{
  width: 623px;
  padding-left:10px;
  margin-top:20px;
}

.work_history > .title > span{
  font-size: 20px;
  font-weight: bold;
  color: #666666;
}
.work_history > .line div{
  border-top: 1px solid #666666;
}
.work_history > .line {
  padding: 12px 0px;
}

//education
.education{
  width: 623px;
  padding-left:10px;
  margin-top: 20px;
}

.education > .title > span{
  font-size: 20px;
  font-weight: bold;
  color: #666666;
}
.education > .line div{
  border-top: 1px solid #666666;
}
.education > .line {
  padding: 12px 0px;
}

//project
.project{
  width: 623px;
  padding-left:10px;
  margin-top: 20px;
}

.project > .title > span{
  font-size: 20px;
  font-weight: bold;
  color: #666666;
}
.project > .line div{
  border-top: 1px solid #666666;
}
.project > .line {
  padding: 12px 0px;
}

.resumes_table{
  color: black;
  background-color: white;
}
