<div class="row summary center-block">
  <div class="col-xs-4 line">
    <div class="center-block"></div>
  </div>
  <div class="col-xs-4 title">
    <span>Summary</span>
  </div>
  <div class="col-xs-4 line">
    <div></div>
  </div>
</div>